<div class="card">
    <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="saveProduct()">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input formControlName="name" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <input formControlName="price" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="file" formControlName="image_path" class="form-control">
            </div>
            <button class="btn btn-success">Save</button>
        </form>
    </div>
</div>