<div class="d-flex flex-row flex-wrap justify-content-around" *ngIf="appState.authState.isAuthenticated">
        <div class="input-group">
            <span class="border-warning input-group-text bg-warning text-white"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control border-warning" style="color:#7a7a7a" [(ngModel)] = "keyword">
            <button class="btn btn-warning text-white" (click)="search()">Search</button>
        </div>
        <div class="card m-2" style="width: 18rem;" *ngFor="let product of products">
            <img src="../../assets/pic.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Product : {{product.name}}</h5>
            <p class="card-text">Price : {{product.price}}$</p>
            <div class="p-3 d-flex flex-row justify-content-around" *ngIf="appState.authState.user.role.includes('ADMIN')">
                <button class="btn btn-outline-primary" (click)="handleUpdate(product)"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-outline-danger" (click)="handleDelete(product)"><i class="bi bi-trash"></i></button>
            </div>
            <button class="btn btn-outline-warning mx-auto" (click)="addToCart(product)">Add to cart</button>
        </div>
    </div>
</div>
